@media (max-width: 900px) {
  #postsPreview {
    margin: 1em 0 0 0;
    width: 100%;
  }

  .postPreview .previewImage {
    height: auto;
    width: 100%;
  }

  .postPreview h1 {
    font-size: 1.7em;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  #postsPreview {
    width: 60%;
    margin: 10em 0 0 0;
  }

  .postPreview .previewImage {
    height: auto;
    width: 100%;
  }

  .postPreview h1 {
    font-size: 1.7em;
  }

  .postPreview {
    max-width: 500px;
  }
} 

@media (min-width: 1201px) {
  #postsPreview {
    width: 63%;
    margin: 10em 0 0 0;
  }

  .postPreview .previewImage {
    height: auto;
    width: 100%;
  }

  .postPreview h1 {
    font-size: 1.9em;
  }

  .postPreview {
    max-width: 600px;
  }
}

#postsPreview {
  font-family: 'Scope One', serif;
  float: right;
}

.postPreview {
  padding: 0 0 40px 0;
}

.postPreview h1 {
  color: #444444;
  margin: 14px 0 0 0;
  font-weight: 300;
  line-height: 1.1em;
  padding-bottom: 10px;
}